<div class="container-fluid row h-75 align-items-center">

  <div class="container">
    <div class="card">
      <h1 class="m-0" style="text-decoration: underline">Auftrag:</h1>
      <p>Schritte zur Datenrettung:</p>
      <p>1. Wählen Sie das für Sie passende Angebot aus.</p>
      <p>2. Stimmen Sie der
        <a routerLink="/datenschutzerklaerung" routerLinkActive="active"> Datenschutzerklärung</a> wie den
        <a routerLink="/agb" routerLinkActive="active"> allgemeinen Geschäftsbedinungen</a> zu.
      </p>
      <p>3. Füllen Sie das Auftragsformular aus. Es folgt eine Bestätigung per Email.</p>
      <p>4. Wählen Sie dafür eine verfolgbare Versandmethode. Packen Sie den Speicher gut ein!</p>
      <p>5. Die Datenrettung startet direkt nach Ankunft.</p>
      <p>6. Nach der Wiederherstellung werden Ihnen Ihre Dateien und die Rechnung zugesandt.</p>
    </div>

  <div class="container">
    <div class="card">
      <h2 class="m-0" style="text-align: center">Auftragsformular</h2>
      <form>
        <div class="form-group">
          <label for="firstName">Vorname</label>
          <input type="text" class="form-control" id="firstName" required [formControl]="firstName">
        </div>

        <div class="form-group">
          <label for="lastName">Nachname</label>
          <input type="text" class="form-control" id="lastName" required [formControl]="lastName">
        </div>

        <div class="form-group">
        <label for="email">E-Mail-Adresse</label>
        <input type="email" class="form-control" id="email" required [formControl]="email">
        </div>

        <div class="form-group">
        <label for="product">Auftrag zur Dattenrettung einer: </label>
        <select class="form-control" id="product" required [formControl]="product">
          <option *ngFor="let product of products" [value]="product">{{product}}</option>
        </select>
        </div>

        <div class="custom-radio">
        <label for="option" required>Wenn eine Datenrettung nicht möglich sein sollte: </label>
        <input type="radio" value="1" name="storage" ngModel> Kostenfreie Aufbewahrung
        <input type="radio" value="2" name="delivery" ngModel> Kostenfreier Rückversand (DHL)
        </div>

        <div class="form-group">
          <label for="street">Straße und Hausnummer</label>
          <input type="text" class="form-control" id="street" required [formControl]="street">
        </div>

        <div class="form-group">
        <label for="city">Postleitzahl / Ort</label>
          <input type="text" class="form-control" id="city" required [formControl]="city">
        </div>

        <div class="form-group">
          <label for="tel">Optional: Telefon- / Handynummer</label>
          <input type="text" class="form-control" id="tel" [formControl]="tel">
        </div>


        <button type="submit" class="btn btn-success" (click)="submit()">Senden</button>

    </form>
    </div>
  </div>

  </div>
</div>
