<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               color="accent"
               fixedInViewport="false"
               [ngClass]="{'sidenav-hidden': !(isHandset$ |async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <div [className]="currentRoute == '/home' ? 'active-page' : 'not-active'">Home</div>
      </a>
      <a mat-list-item >Flash- Speicher</a>
      <a mat-list-item >HDD Festplatten</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="font-size: larger">Tobias Jungbauer Datenrettungsdienst am Ammersee</span>
      <span class="spacer"></span>
      <a mat-list-item routerLink="/home">
        <div [className]="currentRoute == '/home' ? 'active-page' : 'not-active'">Home</div>
      </a>
      <a mat-list-item>Flash- Speicher</a>
      <a mat-list-item>HDD Festplatten</a>
      <button mat-icon-button class="fa-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



