html, body { height: 100%; }
body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Segoe UI',Roboto, "Helvetica Neue", sans-serif!important;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
