.card{
  margin-top: 10rem!important;
}
.portrait_container{
  border-radius: 7rem;
   object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 12rem;
  width: 12rem;
  margin-top: -8rem;
}
