<div class="container ">

  <div class="card m-3">
    <div class="d-flex justify-content-center">
      <img  class="portrait_container" src="assets/tobias_jungbauer.jpg" >
    </div>
    <div class="card-body">
      <img class="img-fluid" src="assets/review_base.png">
    </div>
  </div>
</div>

<iframe id="myFrame" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10688.664885486834!2d11.1017109!3d47.9525097!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x37d4dd90c24065cb!2sTobias%20Jungbauer%20Datenrettungsdienst%20-%20AmmerseeDatenrettung.de!5e0!3m2!1sde!2sde!4v1604148030912!5m2!1sde!2sde" width="{{innerWidth}}" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
