.portrait_container{
  border-radius: 7rem;
   object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 10rem;
  width: 10rem;
  margin-top: -6rem!important;
}
.review_card{
  margin-top: 6rem!important;
}
.fas.fa-star{
  color:orange;
}

svg{
  display: block;
  margin: auto 0;
}
.bg_main{
  background-image: url(/assets/hdd.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* background: aqua; */
  background-color: #008b41;
  background-blend-mode: color-burn;
  background-position-y: bottom;
  color: whitesmoke;
}
.bg_sec{
  background-image: url(/assets/hdd.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* background: aqua; */
  background-color: #008b41;
  background-blend-mode: color-burn;
  background-position-y: bottom;
  min-height: 40vh;
  color: whitesmoke;
}
.formselect{
  border-radius: 1em;
  border-style: solid;
  button{
    font-size: 1.5rem;
  }
}
