<div class="container mb-3">
  <h1 class="my-3 text-center">Professionelle Datenrettung zu fairen Konditionen</h1>
  <div class="row">
    <div class="col-12 col-lg-6 ">
      <p class="font-">Faire Rahmenbedingungen:

        Sie zahlen für die Datenrettung nicht mehr als den in Ihrer Auftragsbestätigung angegebenen Festpreis.

        Das zudem erst nach Datenerhalt, sprich nicht im voraus und das nur nach erfolgreicher Wiederherstellung.

        Wenn keine Datenrettung möglich ist, ist die Bearbeitung, inklusive des versicherten Rückversand (DHL), kostenfrei.

        Die durchschnittliche Bearbeitungszeit beträgt derzeit 7 bis 14 Tage. Alle Arbeiten werden hier vor Ort durchgeführt.
      </p>
    </div>
    <div class="col-12 col-lg-6 card">
      <div class="d-flex justify-content-center">
        <img  class="portrait_container" src="assets/tobias_jungbauer.jpg" >
      </div>
      <div class="card-body">
        <img class="img-fluid" src="assets/review_base.png">
        <p class="py-2">Wirklich super Service und sehr nett! Alle Daten waren in sehr kurzer Zeit gerettet und das zu einem wirklich fairen Preis! Ich bin mehr als zufrieden und kann den Dienst nur weiterempfehlen. Danke nochmal.</p>
      </div>
    </div>
    <div class="col-12">
      <p>Das Angebot:

      Es erstreckt sich über folgende zwei Themengebiete:

      a) HDD-Festplatten

      b) Nandflashspeicher, wie USB-Sticks, SD/CF-Karten, micro SD-Karten oder andere Monolithspeicher

      Bei beiden können sowohl schwere physische Schäden (z.B. ein defekter Controller oder auch fehlerhafte Leseköpfe bei HDDs), als auch einfachere logische Schäden (z.B. beschädigte Partitionen, beschädigte Dateisysteme oder auch gelöschte Dateien bzw. Partitionen) behandelt werden.

      Die Datenrettung ist meistens auch dann möglich, wenn der Speicher bei Ihnen nicht mehr erkannt wird.</p>
    </div>
  </div>
</div>

<iframe id="myFrame" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10688.664885486834!2d11.1017109!3d47.9525097!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x37d4dd90c24065cb!2sTobias%20Jungbauer%20Datenrettungsdienst%20-%20AmmerseeDatenrettung.de!5e0!3m2!1sde!2sde!4v1604148030912!5m2!1sde!2sde" width="{{innerWidth}}" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
