.card{
  margin-top: 6rem!important;
}
.portrait_container{
  border-radius: 7rem;
   object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 10rem;
  width: 10rem;
  margin-top: -6rem!important;
}

.fas.fa-star{
  color:orange;
}
