<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile colspan="4">
    <h1>Professionelle Datenrettung zu fairen Konditionen</h1>
    <p>
      Sie zahlen für die Datenrettung nicht mehr als den in Ihrer Auftragsbestätigung angegebenen Festpreis.

      Das zudem erst nach Datenerhalt, sprich nicht im voraus und das nur nach erfolgreicher Wiederherstellung.

      Wenn keine Datenrettung möglich ist, ist die Bearbeitung, inklusive des versicherten Rückversand (DHL), kostenfrei.

      ​

      Die durchschnittliche Bearbeitungszeit beträgt derzeit 7 bis 14 Tage. Alle Arbeiten werden hier vor Ort durchgeführt.
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <h1>Auftrag für die Datenwiederherstellung</h1>
    <mat-form-field appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let product of products$ | async" [value]="selected">
          {{product.productName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-grid-tile>
</mat-grid-list>
