
  <nav class="navbar navbar-light navbar-expand-md bg-secondary p-0">
      <div class="container">
      <a class="navbar-brand bg-primary p-3" routerLink="home">
        TOBIAS JUNGBAUER <br>
        DATENRETTUNGSDIENST <br>
        AmmerseeDatenrettung.de
      </a>

      <button class="navbar-toggler mx-3" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <i class="fas fa-bars">

        </i>
      </button>

      <div ngbNav [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li ngbNavItem  [ngClass]="currentRoute == '/home' ? 'active-page' : 'not-active'" >
            <a ngbNavLink routerLink="home" (click)="isMenuCollapsed = true">
              <div class="nav-link-text">Home</div>
            </a>
          </li>
          <li ngbNavItem  [ngClass]="currentRoute == '/faq' ? 'active-page' : 'not-active'" >
            <a ngbNavLink routerLink="faq" (click)="isMenuCollapsed = true">
              <div class="nav-link-text">FAQ</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>Kontakt</h1>
      </div>
      <div class="col-12 col-md-6">
        <h1>Standort</h1>
        <pre>Tobias Jungbauer<br />Datenrettungsdienst<br />Egerstra&szlig;e 12<br />86911 Die&szlig;en am Ammersee<br />Deutschland<br />Email: ammersee.datenrettung@gmail.com<br />Tel.: +49 15161408355&lt;/p&gt;</pre>
      </div>

    </div>

  </div>

</footer>
